/* ==================== COMMON */
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ========================== HEADER */

.header-logo {
  width: 179px;
}

.container {
  max-width: 1200px;
  margin: 0px 15px 120px;
}

.container-relative {
  position: relative;
  z-index: 1;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 36px;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}

.menu-link:hover {
  text-decoration: underline;
}

.welcome {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  background-size: cover;
  position: relative;
  padding: 30px 0;
}

.welcome:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

.welcome-title {
  font-size: 45px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

  margin: 120px auto 0px;
  max-width: 700px;
  line-height: 1.4;
}

/* ========================== TRENDS */
.trends {
  margin-top: 64px;
}

.main-header {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main-header::after {
  content: "";
  display: block;
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 29px;
}

.trends-gallery {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.trends-article {
  width: 25%;
  min-height: 320px;
  display: flex;
  flex-direction: column-reverse;
  padding: 22px 20px 22px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.trend-1 {
  background-image: url(../images/trend1.jpg);
}

.trend-2 {
  background-image: url(../images/trend2.jpg);
}

.trend-3 {
  background-image: url(../images/trend3.jpg);
}

.trend-4 {
  background-image: url(../images/trend4.jpg);
}

.trends-article:after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.trend-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.trend-link {
  text-decoration: none;
}

.trend-name:hover {
  color: #b59f5b;
}

.trend-news {
  display: flex;
  border: 3px solid #7a6b40;
  align-content: flex-end;
  flex-wrap: wrap;
  padding: 39px 20px 12px 20px;
}

/* ========================== MAIN */
.container-outer {
  margin-top: 64px;
  margin-bottom: 64px;
}

.container-main {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

/*.container-main {
    display: flex;
    justify-content: space-between;
    width: 1200px;
  }*/

/*.main-page {
     margin: 64px 0; 
    width: 780px;
  }*/

.article {
  display: flex;
  /* width: 780px; */
  margin-bottom: 58px;
  align-items: flex-start;
}

.article:last-child {
  margin-bottom: 0px;
}

.news-img {
  width: 380px;
  background-color: #ffffff;
}

.news {
  margin-left: 30px;
}

.news-tag {
  display: flex;
}

.news-tag-item:nth-child(n + 2) {
  margin-left: 20px;
}

.news-tag-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
}

.news-tag-link:hover {
  text-decoration: underline;
}

.news-link {
  text-decoration: none;
}

.news-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
  margin-top: 16px;
}

.news-name:hover {
  color: #b59f5b;
}

.news-date {
  margin-top: 36px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.author {
  margin-left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #0f0d0e;
}

.content {
  margin-top: 50px;
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
}

/* ========================== ASIDE */
/*.container-aside {
    margin-top: 0px;
    width: 270px;
    margin-left: 120px;
  }*/

/*.aside-bar {
    width: 272px;
  }*/

.aside-bar {
  width: 272px;
  padding: 0;
}

.posts-search {
  margin-bottom: 62px;
}

.aside-article {
  display: flex;
}

.aside-article:not(:first-child) {
  margin-top: 20px;
}

.aside-header {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.aside-header::after {
  content: "";
  display: block;
  width: 67px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 29px;
}

.aside-news-img {
  width: 70px;
  background-color: #ffffff;
}

.aside-news {
  margin-left: 18px;
}

.aside-news-date {
  vertical-align: top;
  font-size: 12px;
  font-weight: 400;
  color: #888888;
}

.aside-news-link {
  text-decoration: none;
}

.aside-news-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #0f0d0e;
  margin: 0;
}

.aside-news-name:hover {
  color: #b59f5b;
}

/*==========FORMS, TAGS==========*/
.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-button {
  border: none;
  width: 47px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0f0d0e;
}

.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 222px;
  height: 47px;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #f4f7f6;
  background-color: #f4f7f6;
}

.search-field:focus {
  outline: none;
  border-color: #b59f5b;
}

.section-aside {
  margin-bottom: 62px;
}

.mailing-field {
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  height: 47px;
  font-size: 13px;
  font-weight: 400;
  border: 2px solid #f4f7f6;
  background-color: #f4f7f6;
}

.mailing-field:focus {
  outline: none;
  border-color: #b59f5b;
}

.mailing-button {
  margin-top: 18px;
  height: 49px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.mailing-button:hover {
  background-color: #0f0d0e;
}

.section-aside-tags {
  margin-bottom: 62px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.tag-item {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  font-weight: 700;
  border: 3px solid #f4f3f1;

  margin-right: 5px;
}

.tag-item:nth-child(n + 4) {
  margin-top: 5px;
}

.tag-link {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 7px 11px;
  color: #0f0d0e;
  cursor: pointer;
}

.tag-item:hover {
  border: 3px solid #b59f5b;
}

.theme-item {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  padding-top: 15px;
  padding-bottom: 22px;
  border-bottom: 2px solid #e1d9bd;
}

.news-tag-link:hover {
  text-decoration: underline;
}

.theme-link {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: capitalize;
}

.theme-list-counter {
  font-size: 12px;
  font-weight: 700;
  color: #b59f5b;
  vertical-align: top;
}

/*.theme-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e1d9bd;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 22px;
  }*/

.theme-link:hover {
  color: #b59f5b;
}

/*==========SHOP==========*/

.shop {
  max-width: 1200px;
  margin: auto;
}

.shop-container {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 22px;
  gap: 114px;
}

.product-post {
  width: 33.33%;
  display: flex;
  flex-direction: column;
}

.product-post-info {
  display: flex;
  flex-direction: column;
  outline-offset: 17px;
  outline: 3px solid #d3c59d;
  flex-grow: 1;
  margin-top: -9px;
}

.product-post-content {
  font-size: 15px;
  font-weight: 400;
  color: #0f0d0e;
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-price {
  flex-direction: column;
  color: #0f0d0e;
}

.product-price-old {
  font-size: 15px;
  font-weight: 700;
  text-decoration: line-through;
}

.product-price-value {
  font-size: 20px;
  font-weight: 700;
}

.product-button {
  width: 140px;
  height: 49px;
  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.product-button:hover {
  background-color: #0f0d0e;
}

.shop-link {
  text-decoration: none;
  color: #b59f5b;
}

.shop-link:hover {
  text-decoration: underline;
}

/*==========FOOTER==========*/

.footer {
  margin-top: 63px;
}

.container-footer {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.social-address {
  box-sizing: border-box;
  width: 100%;
  background-color: #f4f7f6;
  padding: 30px;
}

.social-items-list {
  display: block;
  text-align: center;
}

.social-item {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

.social-item:nth-child(n + 1) {
  margin-right: 20px;
}

.social-link {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  background-color: #f4f7f6;
}

.dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.footer-last {
  margin-top: 73px;
  padding-bottom: 40px;
}

.footer-link {
  text-align: center;
  margin-top: 73px;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
  text-decoration: none;
}

/*==========POPUP==========*/

.pop-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

._hidden {
  display: none;
}

.pop-up-content {
  box-sizing: border-box;
  width: 390px;
  background-color: #fff;
  position: fixed;
  padding: 54px 30px;
}

.popup_close {
  position: absolute;
  color: #fff;
  width: 18px;
  height: 18px;
  right: -1px;
  top: -40px;
  font-size: 40px;
  cursor: pointer;
}

.question {
  display: block;
  padding-bottom: 9px;
  font-size: 13px;
}

.frequency-area {
  position: relative;
}
.frequency-area::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 20px;
  background-image: url(..//svg/form-arrows.svg);
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 40px;
  right: 15px;
}
.choose-option {
  width: 100%;
  height: 47px;
  background-color: #f4f7f6;
  border: none;
  margin-bottom: 25px;
  padding-left: 19px;
  color: #707171;
  font-size: 13px;
  appearance: none;
  cursor: pointer;
}

.email-area {
  margin-bottom: 25px;
}

.choose {
  position: relative;
  font-size: 13px;
  margin-right: 17px;
}

.radio-check {
  appearance: none;
  padding-left: 20px;
}

.radio-text::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../svg/form-empty-circle.svg);
  top: 0;
  left: 0;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}

.radio-check:checked ~ .radio-text::before {
  background-image: url(..//svg/form-circle.svg);
}

.text-area {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 130px;
  background-color: #f4f7f6;
  border: none;
  padding: 20px;
  color: #707171;
  font-size: 13px;
  font-weight: 400;
  font-family: "Open Sans";
}

.popup-button {
  margin-top: 24px;
  width: 100%;
  height: 48px;
  border: none;
  color: #fff;
  background-color: #b59f5b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #0f0d0e;
}
